.IncomingDirectRequest,.IncomingAprovalRequest{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.IncomingDirectRequest input[type=submit],.IncomingAprovalRequest input[type=submit]{
    border-radius: 999px;
    padding: 0.5em 1.2em;
    margin: 1.2rem 0;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 24px;
    opacity: 1;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 60%;
    word-break: break-word;
    background-color: var(--main-background-color);
    color: #fff;
    border: var(--white) 1px solid;
    transition: 1s opacity;
}