.updateConnection{
    width: 100%;
}

.updateConnection .updateConnectionForm{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}


.updateConnectionForm .form__group {
    position: relative;
    padding: 0.9rem 0 0;
    margin-top: 0.55rem;
    width: 50%;
}

.updateConnectionForm .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin: 1.5rem 0;
}

.updateConnectionForm .form__field::placeholder {
    color: transparent;
}

.updateConnectionForm .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.updateConnectionForm .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
}

.updateConnectionForm .form__field:focus ~ .form__label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--main-theme-color);
    font-weight:700;
}

.updateConnectionForm .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,var(--main-theme-color),var(--white));
    border-image-slice: 1;
}

.updateConnectionForm .form__field:required,.form__field:invalid{
    box-shadow:none;
}

.updateConnectionForm .react-tagsinput-input{
    border: 1px solid var(--white);
    margin: 1.2rem 0;
}

.updateConnectionForm .react-tagsinput{
    width: 50%;
    border: 1px solid var(--white);
}

.updateConnectionForm .react-tagsinput .react-tagsinput-tag{
    border: 1px solid var(--main-theme-color);
}


.updateConnectionForm input[type=submit]{
    border-radius: 999px;
    padding: 0.5em 1.2em;
    margin: 0.6rem 0;
    text-decoration: none;
    font-weight: 700;
    box-shadow: var(--main-theme-color) 0 3px 8px ;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 24px;
    opacity: 1;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    word-break: break-word;
    border:0;
    background-color:var(--main-theme-color);
    color: #fff;
}


