.DirectConnectionRequestButton{
    border-radius: 999px;
    padding: 0.3rem 0.7em;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    font-size: 0.9rem;

    opacity: 1;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    word-break: break-word;
    background-color:var(--main-background-color);
    color: var(--white);
    transition: opacity 1s;
    border: 1px solid var(--white) ;
}

.DirectConnectionRequestContainer{
    width: 100%;
}

