.SafestPath{
    margin-top: 1.5rem ;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.SafestPath .buttons-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
