.graph-visualizer-container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.react-dat-gui{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
    background: #0b0b0b;
    width: 20%;
}


.react-dat-gui select{
    margin-left: 1.2rem;
    width: 33%;
    background-color: #0b0b0b;
    z-index: 10000;
}

.react-dat-gui-email{
    position: absolute;
    right: 330px;
    height: 22px;
    width: 27%;
}

.back-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #272727;
    border-radius: 10px;
    cursor: pointer;
    background-color: #272727;
    transition: 0.2s;
    z-index: 333;
}

.back-btn:hover {
    background-color: #0e0e0e;
}

.search-path-button{
    margin: 2px;
    top: 1px;
    background-color: white;
    color:#0b0b0b;
    position: relative;
    left: 15px;
    width: 3rem;
    height: 1.1rem;
    #padding: 0.02em;
    line-height: 10px;
}

.email-div{
    background-color: #0b0b0b;
    position: relative;
    left: 850px;
    height: 1.4rem;
    width: 24rem;
}

.email-input{
    position: relative;
    width: 15rem;
    height: 1.5rem;
    color: white;
    background-color: #0b0b0b;
    left: 10px;
}



.email-label{
    margin-right: 10px;
}